In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
df = pd.read_csv(r'C:\Users\stern\Documents\Springboard\CapstoneTwo\SpringboardCapstoneTwo\raw_data\DataCoSupplyChainDataset.csv', encoding = 'latin1')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [5]:
df.shape

(180519, 53)

In [6]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [7]:
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing = missing.sort_values(by = ['count','%'], ascending = False)
missing

                                count           %
Product Description            180519  100.000000
Order Zipcode                  155679   86.239676
Customer Lname                      8    0.004432
Customer Zipcode                    3    0.001662
Type                                0    0.000000
Days for shipping (real)            0    0.000000
Days for shipment (scheduled)       0    0.000000
Benefit per order                   0    0.000000
Sales per customer                  0    0.000000
Delivery Status                     0    0.000000
Late_delivery_risk                  0    0.000000
Category Id                         0    0.000000
Category Name                       0    0.000000
Customer City                       0    0.000000
Customer Country                    0    0.000000
Customer Email                      0    0.000000
Customer Fname                      0    0.000000
Customer Id                         0    0.000000
Customer Password                   0    0.000000
Customer Segment                    0    0.000000
Customer State                      0    0.000000
Customer Street                     0    0.000000
Department Id                       0    0.000000
Department Name                     0    0.000000
Latitude                            0    0.000000
Longitude                           0    0.000000
Market                              0    0.000000
Order City                          0    0.000000
Order Country                       0    0.000000
Order Customer Id                   0    0.000000
order date (DateOrders)             0    0.000000
Order Id                            0    0.000000
Order Item Cardprod Id              0    0.000000
Order Item Discount                 0    0.000000
Order Item Discount Rate            0    0.000000
Order Item Id                       0    0.000000
Order Item Product Price            0    0.000000
Order Item Profit Ratio             0    0.000000
Order Item Quantity                 0    0.000000
Sales                               0    0.000000
Order Item Total                    0    0.000000
Order Profit Per Order              0    0.000000
Order Region                        0    0.000000
Order State                         0    0.000000
Order Status                        0    0.000000
Product Card Id                     0    0.000000
Product Category Id                 0    0.000000
Product Image                       0    0.000000
Product Name                        0    0.000000
Product Price                       0    0.000000
Product Status                      0    0.000000
shipping date (DateOrders)          0    0.000000
Shipping Mode                       0    0.000000

In [8]:
# Removing Product Description and Zip Code due to high missing values

df.drop(columns = ['Product Description','Order Zipcode'], inplace = True)

In [9]:
# Removing Customer info like name as it does not relate to the data anlaysis
customer_info = ['Customer Email','Customer Fname','Customer Lname', 'Customer Password','shipping date (DateOrders)','order date (DateOrders)']
df.drop(columns = customer_info, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 45 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Id                    180519 non-null  int64
 12  Customer Segment               180519 non-null  object
 13  Customer State                 180519 non-null  object
 14  Customer Street                180519 non-null  object
 15  Customer Zipcode               180516 non-null  float64
 16  Department Id                  180519 non-null  int64
 17  Department Name                180519 non-null  object
 18  Latitude                       180519 non-null  float64
 19  Longitude                      180519 non-null  float64
 20  Market                         180519 non-null  object
 21  Order City                     180519 non-null  object
 22  Order Country                  180519 non-null  object
 23  Order Customer Id              180519 non-null  int64
 24  Order Id                       180519 non-null  int64
 25  Order Item Cardprod Id         180519 non-null  int64
 26  Order Item Discount            180519 non-null  float64
 27  Order Item Discount Rate       180519 non-null  float64
 28  Order Item Id                  180519 non-null  int64
 29  Order Item Product Price       180519 non-null  float64
 30  Order Item Profit Ratio        180519 non-null  float64
 31  Order Item Quantity            180519 non-null  int64
 32  Sales                          180519 non-null  float64
 33  Order Item Total               180519 non-null  float64
 34  Order Profit Per Order         180519 non-null  float64
 35  Order Region                   180519 non-null  object
 36  Order State                    180519 non-null  object
 37  Order Status                   180519 non-null  object
 38  Product Card Id                180519 non-null  int64
 39  Product Category Id            180519 non-null  int64
 40  Product Image                  180519 non-null  object
 41  Product Name                   180519 non-null  object
 42  Product Price                  180519 non-null  float64
 43  Product Status                 180519 non-null  int64
 44  Shipping Mode                  180519 non-null  object
dtypes: float64(13), int64(14), object(18)
memory usage: 62.0+ MB

In [11]:
delivery_status = df.iloc[:,5].value_counts()
shipping_mode = df.iloc[:,44].value_counts()
shipping_mode

Standard Class    107752
Second Class       35216
First Class        27814
Same Day            9737
Name: Shipping Mode, dtype: int64

In [12]:
delivery_status.head()

Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: Delivery Status, dtype: int64

In [49]:
df2 = df.rename(index=str, columns={"Product Name":"Product_Name", "Order Profit Per Order":"Order_Profit"})
df3 = df2.set_index('Product_Name').groupby('Product_Name').mean()
print(df3.Order_Profit)

Product_Name
Adult dog supplies                                 7.295244
Baby sweater                                       7.367295
Bag Boy Beverage Holder                           11.375556
Bag Boy M330 Push Cart                            43.030580
Bowflex SelectTech 1090 Dumbbells                119.078000
                                                    ...
adidas Kids' F5 Messi FG Soccer Cleat             11.092863
adidas Men's F10 Messi TRX FG Soccer Cleat        26.928098
adidas Men's Germany Black Crest Away Tee          9.805260
adidas Youth Germany Black/Red Away Match Soc     25.889809
insta-bed Neverflat Air Mattress                  17.277000
Name: Order_Profit, Length: 118, dtype: float64